* {
  margin: 0;
  padding: 0;
}

html {

  background-color: #F0ECEE;

}

body{
  font-family: 'Fira Sans', sans-serif;

}

li {
  margin: 10px 0;
}

ul {
  list-style-type: none;
  margin: 20px 0;
}

nav a {
  color: #88898B;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  border-radius: 5px;
}


.button {
  background-color: #FF4850;
  color: #F0ECEE !important;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  border-radius: 5px;
  padding: 15px 10px;
  width: 100%;
    display: inline-block;
  }

  .wrapper {
    width: 80%;
    margin: 30px auto;
  }


  /*
.header {
 width: 100%;
 height: 10%;
}

.logo {
  display: inline-block;
  float: left;
  text-align: right;
  width: 200px;
  font-weight: 900;
  padding-top: 20px;
}

@media all and ( max-width: 450px ){
    .logo {
        text-align:left;
        padding-left: 10px;
    }
}

.nav {
  grid-area: nav;
  text-align: right;
  float: left;
  width: 85%;
}

@media all and ( max-width: 450px ){
    .nav{
        text-align: left;
    }
}

.nav ul {
  margin-right: 5%;
  margin-top: 3%;

  display: inline-block;
}

@media all and ( max-width: 450px ){
    .nav ul {
        margin-left: -10%;
    }
}

.nav ul li{
  display: inline-flex;

}

@media all and ( max-width: 450px ){
    .nav ul li{
        display:block;
    }
}

.nav a {
  color: #88898B;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  border-radius: 5px;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;

}


.nav a:hover{
  text-decoration: none;
  background-color: #CCC;
  color: #FF4850;
}




@media all and ( max-width: 450px ){
    .button{
        padding-right: 159px;
        padding-left: 159px;
        padding-bottom: 20px;
        padding-top: 20px;
    }
}

.button:hover{
	color: #88898B !important;
	background-color: #FF4850 !important;
}

.emph {
 color: #FF4850;

}



.action {
	font-weight: 900;
	width: auto;
	padding-top: 150px;
	margin-left: 90px;
}

@media all and ( max-width: 450px ){
    .action {
        margin-left: 10px;
        padding-top: 170px;
        padding-bottom: auto;
    }
}

.action p{
     color: #88898B;
	 font-weight: 600;
}


.find {

  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  border-radius: 5px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
 color: #F0ECEE;
 background-color: #FF4850;
}

@media all and ( max-width: 450px ){
    .find{
        align-content: stretch;
        padding-right: 153px;
        padding-left: 153px;
    }
}

.find:hover{
	color: #88898B;
	background-color: #FF4850;
}

.findiv{
	margin-top: 50px;
    } */



@media screen and (min-width: 768px){

  body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("bulldog.jpg");
    padding-top: 2%;
  }
  .button{
      width: auto;
    }

    .nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
ul{
  display:flex;
  align-items: center;
}
}
